.kjList{
	height: 100%;
}


.kjList .items{
	width: 94%;
	margin: auto;
	margin-bottom: 0 !important;
	margin-top: 60rpx;
}
.kjList .items .content{
	/* background: red ; */
	width: 100%;
}
@media (orientation : landscape) {
	.kjList	.items .content .select{
		height: 30rpx !important;
	}
}

.kjList	.items .content .select{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 80rpx;
	margin: 30rpx 0;
}
.kjList	.items .content .select .content{
	/* width: 94%; */
	/* margin: auto; */
	flex: 1;
}

@media (orientation : landscape) {
	.kjList	.items .content .select .prefix{
		height: 40rpx !important;
		width: 40rpx !important;
	}
	
}

.kjList	.items .content .select .prefix{
	height: 170rpx;
	background: #FFFFFF;
	width: 10%;
}

.kjList	.items .content .select .com{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50rpx;
	height: 50rpx;
	border: 1px solid #F2F2F2;
	opacity: 1;
	border-radius: 50rpx;
	margin-right: 54rpx;
	
}			

@media (orientation : landscape) {
	.kjList	.items .content .select	.selectActive{
		width: 40rpx !important;
		height: 40rpx !important;
	}
	
}			

.kjList	.items .content .select	.selectActive{
	background: #1280EF ;
	width: 50rpx;
	height: 50rpx;
}
			